<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
<div class="wrapper">
    <% include ../webcontent/navbar.html %>
    <!-- Page Content Holder -->
    <div style="width: 100%" id="content">
        <% include ../webcontent/header.html %>
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a style="margin-bottom: 15px;" class="nav-link" href="/pages/add">Créer détenu</a>
                </li>
            </ul>
        </div>
        <div class="navbar navbar-default">
        <% if (messages.success) { %>
            <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>

        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>
        <div>
            <div>
                <% if(data.length) { %>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Author</th>
                            <th width="200px">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i< data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= (i+1) %></th>
                                <td><%= data[i].name%></td>
                                <td><%= data[i].author%></td>
                                <td>
                                    <a class="btn btn-success edit" href="../pages/edit/<%=data[i].id%>">Edit</a>
                                    <a class="btn btn-danger delete" onclick="return confirm('Are You sure?')" href="../pages/delete/<%=data[i].id%>">Delete</a>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                <% } %>
                <!-- if result is empty -->
                <% if(!data.length) { %>
                    <p class="text-center">No book found!</p>
                <% } %>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="javascripts/webscripts.js"></script>

</body>
</html>