<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prison Nantes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
<div class="wrapper"><% include ../webcontent/navbar.html %>
    <div style="width: 100%" id="content"><% include ../webcontent/header.html %>
        <% if (messages.success) { %>
            <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a style="margin-bottom: 15px;" class="nav-link" href="/index">Accueil</a>
                </li>
            </ul>
        </div>
        <div class="navbar navbar-default">
            <div>
                <div>
                    <% if(data.length) { %>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"># Ecrou</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">Nom</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i< data.length; i++) { %>
                                <tr>
                                    <td><%= data[i].n_ecrou%></td>
                                    <td><%= data[i].prenom%></td>
                                    <td><%= data[i].nom%></td>
                                    <td>
                                        <a class="btn btn-success edit" href="/edit/<%=data[i].n_ecrou%>">Éditer</a>
                                        <a class="btn btn-danger delete" onclick="return confirm('Are You sure?')" href="/delete/<%=data[i].n_ecrou%>">Supprimer</a>
                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    <% } %>
                    <% if(!data.length) { %>
                        <p class="text-center">Pas de detenus en préventive.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var title = document.getElementById("title");
    var indActive = document.getElementById("index");
    var desActive = document.getElementById("decision");
    var incActive = document.getElementById("incarcerate");
    var preActive = document.getElementById("preventive");
    title.textContent="Liste des detenus en preventive";
    indActive.className = "";
    desActive.className = "";
    incActive.className = "";
    preActive.className += "active";
</script>
<!-- Inclure jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Inclure Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Inclure le fichier webscripts pour la gestion des scripts du site -->
<script src="javascripts/webscripts.js"></script>
<script src="javascripts/core/decision.js"></script>
<script src="javascripts/core/condamnation.js"></script>
<script src="javascripts/core/reduction_peine.js"></script>
<script src="javascripts/core/liberation_definitive.js"></script>
<script src="javascripts/core/detenu.js"></script>
<script src="javascripts/core/affaire.js"></script>
<script src="javascripts/core/juridiction.js"></script>
<script src="javascripts/core/motif.js"></script>
<script src="javascripts/core/incarceration.js"></script>
</body>
</html>